.advantages
	$color: #319300

	position: relative
	padding: 30px
	background: $color
	color: #fff
	
	h4
		font:
			size: 1.7em
			family: $font-2
		letter-spacing: -1px

	.container
		height: 120px
		overflow: hidden
		margin-top: 25px
		padding: 0 15px

	.slider
		width: 100%
		height: 100%
		background: $color
		text-align: center

		img
			margin-bottom: 10px

		p
			line-height: 130%

	.prev
		display: block
		width: 11px
		height: 46px
		position: absolute
		left: 15px
		top: 80px
		background: image-url('prevnext.png') 0 0 no-repeat
		text-indent: -9999px

	.next
		display: block
		width: 11px
		height: 46px
		position: absolute
		right: 15px
		top: 80px
		background: image-url('prevnext.png') -13px 0 no-repeat
		text-indent: -9999px
