.alert-main
	+border-radius(3px)
	+box-color($color-warning)

	margin-bottom: 25px
	padding: 10px 15px
	font-size: 12px
	line-height: 120%

	p
		margin: 5px 0

	.close
		float: right
		margin-top: 3px
		font:
			size: 15px
			family: $font-1
		text-decoration: none

.alert-main-success
	+box-color($color-success)

.alert-main-error
	+box-color($color-danger)

.alert-main-info
	+box-color($color-info)

.alert-main-small
	padding: 5px 10px
	border-style: dotted
	font-size: 11px
