.author-about
	padding: 30px
	background: #eee

	h4
		color: $color-3
		font:
			size: 1.7em
			family: $font-2
		letter-spacing: -1px

	.img
		width: 174px
		margin: 15px auto
		padding: 5px
		border: 1px solid #ccc

	h5
		font:
			weight: bold
			size: 1.2em

	p
		margin: 1em 0
		line-height: 130%
