$main-width: 960px
$field-height: 34px

body
	background: #fff image-url('main_bg.jpg') no-repeat 50% -50px
	color: #222
	font:
		size: 0.75em
		family: $font-base

strong
	font-weight: bold

em
	font-style: italic

button
	cursor: pointer

	&[disabled]
		+opacity(0.5)

		cursor: default

