.signup-terms
	height: 100px
	overflow: auto
	margin-bottom: 15px
	padding: 30px
	background: #eee

	h4
		margin-bottom: 15px
		font:
			size: 1.4em
			family: $font-2
		text-transform: uppercase
		letter-spacing: -1px

	h5
		margin: 15px 0
		font:
			size: 1.2em
			family: $font-2

	p
		margin: 0.5em 0
		font-size: 0.9em
		line-height: 130%

	ul
		margin: 0.5em 0 0.5em 15px
		font-size: 0.9em
		line-height: 130%

		li
			margin: 0.5em 0
			list-style: inside square
