.breadcrumbs
	+border-radius(3px)

	overflow: hidden
	margin-bottom: 25px
	border: 1px solid #ddd

	ul
		li
			display: block
			height: 34px
			float: left
			padding: 0 20px 0 10px
			background: image-url('breadcrumbs.png') right 50% no-repeat
			color: #999
			font-size: 11px
			line-height: 34px

			&:last-child
				background: none

			a
				color: $color-3
				text-decoration: none

				&:hover
					text-decoration: underline
