.link-button
	+button

.link-button-large
	@extend .button-large

.link-button-submit
	background: $color-3

.link-button-success
	background: $color-success

.link-button-warning
	background: darken($color-1, 12%)
