.form-main
	legend
		display: none

	label
		display: block
		margin-bottom: 25px
		font:
			size: 1.1em
			family: $font-2

		&.check
			margin-bottom: 10px
			cursor: pointer
			font-family: $font-1

	input[type="text"],
	input[type="password"],
	input[type="email"],
	textarea
		@extend .field

		display: block
		width: 100%
		margin-top: 5px

	textarea
		height: 60px
		padding: 10px

	select
		@extend .field

		display: block
		width: 100%
		margin-top: 5px
		padding-right: 0

	input[type="file"]
		+box-sizing(border-box)

		display: block
		margin-top: 10px
		border: none

	[readonly]
		background: #e9e9e9 !important

	.form-action
		overflow: hidden
		position: relative
		margin-top: 15px
		padding: 15px 0
		border-top: 1px dotted #ccc
		text-align: right

		button
			+button

		.button-submit
			+button($color-3)

		.button-success
			+button($color-success)

		.button-warning
			+button(darken($color-1, 12%))

	.note
		margin-top: 7px
		color: #999
		font:
			size: 11px
			family: $font-base

		a
			@extend .link-main

	.errorList
		+border-radius(3px)
		+box-color($color-danger)

		display: inline-block
		margin-top: 7px
		padding: 0 10px
		font:
			size: 11px
			family: $font-base

		li
			display: block
			padding: 5px 0
			border-bottom: 1px dotted $color-danger

			&:last-child
				border-bottom: none

	.input-loading
		background:
			image: image-url('ajax-loader4.gif') !important
			position: 97% 50% !important
			repeat: no-repeat !important

#form-cart
	.discount
		+border-radius(3px)

		overflow: hidden
		padding: 15px
		background: #eee

		p
			width: 400px
			float: left
			margin: 2px 20px 0 0
			font-size: 11px
			line-height: 130%

		input
			width: 300px
			float: left
			margin: 0

		button
			$color: $color-3
			+border-radius(3px)
			+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))
			+box-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
			+transition(all 0.1s)

			height: 35px
			float: right
			padding: 0 20px
			margin-left: 5px
			border: none
			background:
				color: $color
				image: linear-gradient(darken($color, 5%), darken($color, 25%) 80%)
			color: rgba(#fff, 0.7)
			font:
				weight: bold
				size: 14px
				family: $font-1
			letter-spacing: -1px
			text-transform: uppercase

			&:hover:enabled
				color: #fff

#form-password-remember
	legend
		display: none

	input
		@extend .field
		+border-radius(3px)
		+box-sizing(border-box)

		width: 380px
		margin-right: 10px

	button
		+button($color-3)

	.alert
		display: none
		margin-top: 10px
		padding-left: 23px
		background: image-url('ajax-loader4.gif') 0 0 no-repeat
		color: $color-3
		font-size: 11px
		line-height: 16px

	.alert-loading
		background-position: 0 0
