.guidesteps
	margin: 30px 0
	padding: 30px 0
	border: 3px solid #eee
	border:
		left: none
		right: none

	h2
		color: $color-3
		font:
			size: 25px
			family: $font-2
		letter-spacing: -1px
		text-transform: uppercase

	.step
		margin-top: 30px
		background: #999
		color: #fff

		h3
			overflow: hidden
			background: #777
			color: #fff
			font:
				size: 21px
				family: $font-2
			letter-spacing: -1px
			line-height: 50px
			text-transform: uppercase

			span
				+border-radius(100px)

				display: block
				width: 30px
				height: 30px
				float: left
				margin: 10px
				background: #999
				font-size: 15px
				line-height: 30px
				text-align: center

		.content
			min-height: 140px
			padding: 25px 15px 45px 280px
			background: image-url('guidesteps/arrow.png') 50% bottom no-repeat

			a
				+border-radius(3px)
				+transition(all 0.1s)

				
				display: inline-block
				padding: 1px 5px
				background: #777
				color: #fff
				text-decoration: none

			p
				margin-bottom: 15px
				// font:
				// 	size: 17px
				// 	family: $font-1
				font-size: 1.2em
				line-height: 140%

	@mixin step($color, $image)
		background: $color image-url($image) 80px 80px no-repeat

		h3
			background: darken($color, 15%)

			span
				background: $color

		.content
			a
				+box-shadow(1px 1px 0 darken($color, 5%))

				background: lighten($color, 30%)
				color: darken($color, 15%)

				&:hover
					background: #fff

	.step-1
		+step(#4ABEE5, "guidesteps/step-1.png")

	.step-2
		+step(#36AC32, "guidesteps/step-2.png")

	.step-3
		+step(#C23227, "guidesteps/step-3.png")

		background-position: 45px 80px
