#livrorama-top
	border-bottom: 1px dotted #ccc
	background: #fff

	.container
		width: $main-width
		overflow: hidden
		margin: 0 auto

		h3
			float: left

			a
				display: block
				padding-right: 20px
				border-right: 1px dotted #ccc
				background: image-url('logo_livrorama.png') 0 50% no-repeat
				width: 164px
				line-height: 55px
				text-indent: -9999px


		ul
			overflow: hidden

			li
				display: table
				height: 55px
				float: left
				border-right: 1px dotted #ccc

				a
					+transition(all 0.2s)

					display: table-cell
					padding: 0 20px
					color: #000
					vertical-align: middle
					font-size: 12px
					line-height: 115%
					white-space: nowrap
					text-decoration: none

					&:hover
						background-color: #eee

.global-tray
	z-index: 800
	width: 100%
	position: absolute
	left: 0
	top: 55px
	background: rgba(0, 0, 0, 0.7)

	.container
		width: $main-width
		height: 98px
		position: relative
		margin: 0 auto

		h1
			a
				+replace-text-with-dimensions('logo_livroramacursos.png')

				display: block
				position: absolute
				left: 0
				top: 25px

		.user
			height: 40px
			position: absolute
			left: 430px
			top: 40px
			padding-left: 45px
			background:
				image: image-url('ico_course.png')
				position: 0 0
				repeat: no-repeat
				size: 40px auto
			color: #fff
			font:
				size: 17px
				family: $font-2
			letter-spacing: -1px

		.nav
			height: 50%
			position: absolute
			right: 150px
			top: 25px

			ul
				height: 100%
				overflow: hidden

				li
					display: table
					width: 80px
					height: 100%
					float: left
					border-right: 1px solid rgba(255, 255, 255, 0.2)

					a
						+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
						+transition(all 0.1s)

						display: table-cell
						padding: 0 20px
						color: #fff
						vertical-align: middle
						font:
							size: 13px
							family: $font-1
						line-height: 115%
						text:
							align: center
							decoration: none

						&:hover
							color: $color-1

		.cart
			position: absolute
			right: 0
			top: 35px
			padding-right: 35px
			background: image-url('ico_cart.png') right 50% no-repeat
			line-height: 130%
			text:
				align: right
				decoration: none

			.label
				font:
					size: 13px
					family: $font-2

				color: #fff

			.total
				color: $color-1
				font-size: 11px

			&:hover
				.total
					text-decoration: underline

.global-header
	+box-sizing(border-box)

	z-index: 500
	width: 1002px
	height: 219px
	margin: 0 auto
	position: relative

	.slider
		z-index: 1
		display: none
		width: 1002px
		height: 468px
		overflow: hidden
		position: absolute
		left: 0
		top: 0

	.slider-index
		z-index: 20
		position: absolute
		right: 21px
		top: 110px

		a
			+border-radius(50px)
			+box-shadow(0 0 5px rgba(0, 0, 0, 0.5))
			+transition(all 0.2s)

			display: inline-block
			width: 10px
			height: 10px
			margin: 0 3px
			background: #fff
			text-indent: -9999px

			&.activeSlide
				background: $color-1

	.login
		+border-radius(3px)
		+box-sizing(border-box)

		z-index: 99
		width: $main-width
		height: 91px
		position: absolute
		left: 21px
		bottom: 15px
		padding: 15px
		background: rgba(0, 0, 0, 0.7)

		h4
			height: 43px
			overflow: hidden
			float: left
			margin-top: 5px
			padding-left: 70px
			background: image-url('ico_course.png') 0 50% no-repeat
			color: #fff
			font:
				size: 25px
				family: $font-2
			letter-spacing: -1px
			vertical-align: 0

			.arrow
				display: inline-block
				width: 10px
				height: 36px
				float: right
				margin-left: 10px
				background:
					image: image-url('prevnext2.png')
					position: -6px 4px
					repeat: no-repeat
				text-indent: -9999px

		form
			float: right

			legend
				display: none

			input
				@extend .field

				margin-right: 10px
				border: none

			button
				+border-radius(3px)
				// +text-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
				// +box-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
				+box-sizing(border-box)
				+transition(all 0.1s)

				height: 35px
				padding: 0 20px
				margin: 0
				border: none
				background-color: darken($color-1, 12%)
				color: #fff
				font:
					weight: bold
					size: 14px
					family: $font-1
				letter-spacing: -1px
				line-height: 35px
				text:
					decoration: none
					transform: uppercase

			.util
				overflow: hidden
				margin: 10px 110px 0 0
				background: image-url('ajax-loader.gif') -99px 0 no-repeat
				color: #fff
				font-size: 11px
				line-height: 16px
				text-align: right

				.alert
					display: none
					float: left
					padding-left: 23px
					background: image-url('ico_warning.png') 0 0 no-repeat
					color: $color-1

				.alert-loading
					background-image: image-url('ajax-loader.gif')

				.links
					float: right

					li
						display: inline
						padding: 0 11px 0 7px
						border-right: 1px solid #fff

						&:last-child
							padding-right: 0
							border-right: none

						a
							color: #fff
							text-decoration: none

							&:hover
								text-decoration: underline

		.logged
			> ul
				position: absolute
				right: 20px
				top: 22px

				> li
					display: inline
					position: relative
					margin-left: 5px

					> a
						+border-radius(3px)
						+box-sizing(border-box)
						+transition(all 0.1s)

						display: inline-block
						color: #fff
						font:
							size: 17px
							family: $font-2
						letter-spacing: -1px
						line-height: 45px
						text-decoration: none

					&.account
						> a
							width: 173px
							height: 45px
							padding-left: 20px
							background:
								color: darken($color-1, 12%)
								image: image-url('dropdown.png')
								position: right 50%
								repeat: no-repeat

					&.logout
						> a
							height: 45px
							padding: 0 20px
							background:
								color: $color-danger
								position: right 50%
								repeat: no-repeat

					ul
						+border-bottom-radius(3px)
						+box-sizing(border-box)

						z-index: 900
						display: none
						width: 173px
						overflow: hidden
						position: absolute
						left: 0
						top: 26px
						padding: 0 10px 10px
						background: darken($color-1, 12%)
				
						li
							a
								+transition(all 0.2s)

								display: block
								padding: 5px 10px
								border-left: 1px solid rgba(255, 255, 255, 0.4)
								color: #fff
								font-size: 12px
								line-height: 120%
								text-decoration: none

								&:hover
									border-color: #fff
									background: darken($color-1, 14%)

							&:last-child
								a
									border-bottom: none

			.lastaccess
				width: 190px
				position: absolute
				right: 290px
				top: 30px
				color: rgba(255, 255, 255, 0.5)
				font-size: 11px
				line-height: 130%
				text-align: right

	.buy-steps
		+border-radius(3px)
		+box-sizing(border-box)

		z-index: 99
		width: $main-width
		height: 91px
		overflow: hidden
		position: absolute
		left: 21px
		bottom: 15px
		padding: 15px
		background: rgba(0, 0, 0, 0.7)

		.step
			width: 33.33%
			float: left
			padding-bottom: 10px
			border-bottom: 5px solid rgba(255, 255, 255, 0.5)
			color: rgba(255, 255, 255, 0.5)
			font:
				weight: bold
				size: 19px
				family: $font-1
			letter-spacing: -1px
			text-align: right

			span
				$height: 35px
				+border-radius(100px)

				display: inline-block
				width: $height
				height: $height
				margin-left: 5px
				border: 1px solid rgba(255, 255, 255, 0.5)
				line-height: $height
				text-align: center

		.step-highlight
			border-color: $color-1
			color: $color-1

			span
				border-color: $color-1
				color: $color-1

.global-nav
	width: $main-width
	height: 85px
	margin: 0 auto
	background: $color-3

	h4
		+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
		+box-sizing(border-box)

		width: 175px
		height: 85px
		float: left
		padding: 16px 0 0 32px
		background: image-url('global-nav.png') 0 0 no-repeat
		color: #fff
		font:
			weight: bold
			size: 21px
			family: $font-2
		letter-spacing: -1px
		line-height: 130%
		text-transform: uppercase

	> ul
		> li
			display: block
			position: relative
			float: left
			border-right: 1px dotted #fff

			&:last-child
				border-right: none

			&.current
				> a
					color: $color-1

			> a
				+transition(color 0.2s)

				display: table
				background: image-url('arrow-up.png') 50% 85px no-repeat
				color: #fff
				font:
					size: 17px
					family: $font-2
				line-height: 115%
				text:
					align: center
					decoration: none

				&:hover,
				&.active
					color: $color-1

				&.active
					background-position: 50% 70px

				span
					+text-shadow(1px 1px 0 rgba(0, 0, 0, 0.5))
					+box-sizing(border-box)

					display: table-cell
					width: 155px
					height: 85px
					padding: 0 15px
					vertical-align: middle

			ul
				+border-radius(3px)
				+box-shadow(0 1px 0 1px rgba(darken($color-3, 10%), 0.5))
				+box-sizing(border-box)

				z-index: 900
				display: none
				width: 230px
				overflow: hidden
				position: absolute
				top: 75px
				padding: 10px
				background: #fff
		
				li
					a
						+transition(all 0.1s)
						+box-sizing(border-box)

						display: block
						padding: 5px 15px
						border-left: 1px solid #eee
						color: #000
						font-size: 11px
						line-height: 120%
						text-decoration: none

						&:hover
							border-color: $color-3
							color: $color-3

.nav-logged
	$color: #10313c
	+border-radius(3px)

	width: $main-width
	margin: 0 auto
	overflow: hidden
	background: darken($color, 5%)

	ul
		li
			display: inline

			a
				+transition(all 0.2s)

				display: block
				height: 34px
				float: left
				padding: 0 15px 0 13px
				border-right: 1px solid rgba(255, 255, 255, 0.4)
				color: #fff
				font:
					size: 12px
					family: $font-2
				line-height: 34px
				text-decoration: none

				&:hover
					background: lighten($color, 3%)

.global-search
	z-index: 99
	width: $main-width
	position: relative
	margin: 25px auto 0

	form
		legend
			display: none

		input
			+border-radius(3px)
			+border-right-radius(0)
			+box-sizing(border-box)

			
			display: block
			width: 95%
			height: 43px
			float: left
			margin: 0
			padding: 0 10px
			border: 1px solid #ccc
			border-right: none
			background:
				color: #fff
				image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 2px)
			font:
				size: 21px
				family: $font-1

		button
			+border-right-radius(3px)
			+box-sizing(border-box)

			display: block
			width: 5%
			height: 43px
			float: left
			margin: 0
			border: none
			background: #fff image-url('search-button.png') right 0 no-repeat
			// background:
			// 	color: #fff
			// 	image: image-url('ico_search.png'), linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 2px)
			// 	position: 50% 50%
			// 	repeat: no-repeat
			text-indent: -9999px

.global-footer
	background: $color-3

	.site-shorts
		padding: 30px 0
		background: darken($color-3, 20%)

		.container
			width: $main-width
			overflow: hidden
			margin: 0 auto

			.item
				+box-sizing(border-box)

				display: block
				width: 175px
				float: left
				margin-right: 18px
				

				&:last-child
					margin-right: 0

				h4
					+box-sizing(border-box)

					display: table
					width: 100%
					height: 55px
					padding: 0 0 5px 10px
					border-left: 1px solid rgba(255, 255, 255, 0.2)
					color: #fff
					font:
						size: 21px
						family: $font-1
					letter-spacing: -1px
					text-decoration: none

					span
						display: table-cell
						vertical-align: middle

				ul
					li
						a
							+transition(all 0.1s)

							display: block
							padding: 0 0 5px 10px
							border-left: 1px solid rgba(255, 255, 255, 0.2)
							color: #fff
							font-size: 11px
							line-height: 120%
							text-decoration: none

							&:hover
								border-color: $color-1
								color: $color-1

			.item-highlight
				h4
					color: $color-1

				ul
					li
						a
							color: $color-1

							&:hover
								border-color: #fff
								color: #fff

	.payments
		padding: 30px 0
		background: #fff

		.container
			width: $main-width
			position: relative
			margin: 0 auto

			.pagseguro
				position: absolute
				right: 0
				top: 17px

	.copyright
		width: $main-width
		overflow: hidden
		margin: 0 auto
		padding: 30px 0

		.livroramacursos
			width: 240px
			float: left
			padding-top: 40px
			background: image-url('logo_livroramacursos2.png') 0 0 no-repeat
			color: #fff
			font-size: 11px
			text-decoration: none

		.social
			width: 400px
			float: left
			margin: 5px 0 0 15px

			.services
				div
					float: left

		.agw
			+replace-text-with-dimensions('logo_agw.png')

			float: right
			margin-top: 7px

.global-content
	width: $main-width
	min-height: 300px
	position: relative
	margin: 30px auto

.layout-home
	body
		background:
			image: image-url('main_bg-home.jpg')
			position: 50% 25px

	.global-header
		height: 468px

		.slider
			display: block

	.videoplayer-large
		position: relative
		margin-bottom: 50px

		.container
			width: 668px
			height: 376px
			margin: 0 auto
			background: #fff

.layout-buy
	body
		background-position: 50% -128px

	.global-tray
		top: 0

.layout-piodecimo
	body
		background: #fff

	&.layout-home
		body
			background: #fff image-url('piodecimo/bg-main.png') 50% 56px no-repeat

	.global-tray
		background: rgba(7, 26, 0, 0.7)

		.container
			h1
				a
					+replace-text-with-dimensions("piodecimo/logo-piodecimo.png")

					top: 13px

			h2
				a
					display: block
					width: 220px
					height: 71px
					position: absolute
					left: 180px
					top: 13px
					border-left: 1px solid #fff
					background: image-url("piodecimo/logo-livroramacursos.png") 100% 50% no-repeat
					text-indent: -9999px

	.global-nav
		background: $color-piodecimo-1

		h4
			background: image-url("piodecimo/global-nav.png")

	.heading-3
		color: $color-danger

	.linksbar
		ul
			background: $color-danger

	.tabbar
		.tabbar-index
			background-image: image-url("piodecimo/tabbar.png")

			li
				a
					&:hover
						color: darken($color-1, 10%)

				&.active
					a
						background-image: image-url("piodecimo/tabbar.png")

















