.linksbar
	overflow: hidden

	ul
		+border-radius(3px)

		overflow: hidden
		float: right
		padding: 10px
		background: $color-3

		li
			display: inline
			padding: 0 6px 0 10px
			border-left: 1px solid rgba(255, 255, 255, 0.5)
			color: #fff

			&:first-child
				padding-left: 2px
				border-left: none

			a
				color: #fff
				text-decoration: none

				&:hover
					text-decoration: underline

			&.current
				a
					color: $color-1
