.list-avatar
	li
		a
			+border-radius(3px)
			+box-shadow(1px 1px 0 rgba(0, 0, 0, 0.3))
			+box-sizing(border-box)
			+transition(all 0.2s)

			display: block
			overflow: hidden
			margin-bottom: 10px
			padding: 15px
			background:
				color: $color-3
				image: linear-gradient($color-3, darken($color-3, 10%) 120px)
			color: rgba(255, 255, 255, 0.7)
			text:
				align: center
				decoration: none


			.thumb
				+transition(all 0.2s)

				width: 75px
				margin: 0 auto
				padding: 2px
				border: 1px solid rgba(255, 255, 255, 0.3)

				img
					display: block
					width: 100%

			h5
				margin-top: 10px
				font:
					size: 1.5em
					family: $font-2
				letter-spacing: -1px
				line-height: 115%

			p
				clear: both
				margin-top: 10px
				font-size: 11px
				line-height: 130%
				text:
					align: justify
					indent: 20px

			&:hover
				color: #fff

				.thumb
					border-color: rgba(255, 255, 255, 0.5)

.list-avatar-grid
	li
		a
			width: 219px
			height: 355px
			float: left
			margin: 10px
