@mixin property-range($property, $prefix, $start, $end, $factor, $unit)
	$i: $start
	@while $i <= $end
		#{$prefix}-#{$i}
			#{$property}: #{$i + $unit} !important
		$i: $i + $factor

@mixin box-color($color: $basis-color-secondary)
	border: 1px solid lighten($color, 35%)
	background: lighten($color, 50%)
	color: $color

	a
		color: $color

@mixin theme-course($index, $color)
	.theme-course-#{$index}
		h5
			color: $color !important

@mixin button($color: #999)
	+border-radius(3px)
	+box-sizing(border-box)
	+transition(all 0.1s)

	display: inline-block
	height: 35px
	margin: 0 1px 1px 5px
	padding: 0 20px
	border: none
	background: $color
	color: #fff
	font:
		weight: bold
		size: 14px
		family: $font-1
	letter-spacing: -1px
	line-height: 35px
	text:
		decoration: none
		transform: uppercase

	&:hover
		background: lighten($color, 3%)
