.pagination
	margin: 30px 0
	text-align: center

	ul
		display: inline-block

		li
			display: inline
			float: left
			border-left: 1px solid #fff
			color: $color-3
			font-size: 13px
			line-height: 30px

			span
				display: inline-block
				padding: 0 10px
				background: #eee

			a
				+transition(all 0.1s)

				display: inline-block
				padding: 0 10px
				background: #eee
				color: $color-3
				text-decoration: none

				&:hover
					background: darken(#eee, 5%)

			&.current
				a
					background: $color-3
					color: #fff

			&:first-child
				a
					+border-left-radius(3px)

					border-left: none

			&:last-child
				a
					+border-right-radius(3px)

	&.center
		text-align: center

	&.right
		text-align: right
