.splash-main
	+box-shadow(0 0 1px rgba(0, 0, 0, 0.9))

	z-index: 800
	display: none
	position: absolute
	left: 50%
	top: 50%

	.content
		z-index: 810
		position: relative

	.close
		+border-radius(100px)
		+box-shadow(0 0 1px rgba(0, 0, 0, 0.9))
		+transition(all 0.2s)

		z-index: 820
		display: block
		width: 23px
		height: 23px
		position: absolute
		right: -8px
		top: -8px
		background: #000
		color: rgba(255, 255, 255, 0.6)
		font-size: 12px
		line-height: 23px
		text:
			align: center
			decoration: none

		&:hover
			color: #fff

.splash-main-type-1
	width: 400px
	height: 400px
	margin: -200px 0 0 -200px
