.table-cart
	display: table
	width: 100%
	margin-bottom: 30px
	collapse: border-collapse

	th
		background: #eee
		color: #999
		font:
			size: 12px
			family: $font-2
		line-height: 130%
		text-transform: uppercase

	th,
	td
		+transition(all 0.2s)

		padding: 15px
		border: 1px dotted #ccc

	.line-success
		color: $color-success

		td
			background: lighten($color-success, 50%)

	tr:nth-child(even)
		td
			background: lighten(#eee, 4%)

	tr:hover
		td
			background: $color-4

	td.description
		.item
			overflow: hidden
			margin-top: 15px
			padding-top: 15px
			border-top: 1px solid #eee

			&:first-child
				margin-top: 0
				padding-top: 0
				border: none

			.header
				overflow: hidden

				img
					float: left
					margin-right: 10px

				h5
					margin-bottom: 3px
					font:
						size: 10px
						family: $font-2
					text-transform: uppercase

				h4
					font:
						weight: bold
						size: 13px
					line-height: 115%

					a
						+transition(all 0.2s)

						color: $color-3
						text-decoration: none
				
				.details
					overflow: hidden
					margin-top: 10px
					line-height: 30px

					.length
						+border-radius(3px)

						float: left
						padding: 0 10px
						background: #ddf0f6
						color: $color-3
						font:
							size: 10px
							family: $font-2
						text-transform: uppercase

						strong
							display: inline-block
							margin-left: 5px
							padding-left: 30px
							background: image-url('ico_length.png') 0 50% no-repeat
							font-weight: normal !important
							text-transform: none

					.useful
						float: left

						li
							display: inline
							margin-left: 15px
							color: #999
							font:
								size: 10px
								family: $font-2
							text-transform: uppercase

							a
								color: $color-3

	th.length
		width: 170px
		text-align: center

	td.length
		div
			+border-radius(3px)

			padding: 0 10px
			background: #ddf0f6
			color: $color-3
			font:
				size: 10px
				family: $font-2
			white-space: nowrap
			line-height: 30px
			text:
				align: center
				transform: uppercase

			strong
				display: inline-block
				margin-left: 5px
				padding-left: 30px
				background: image-url('ico_length.png') 0 50% no-repeat
				font-weight: normal !important
				text-transform: none

	th.action
		text-align: center

	td.action
		text-align: center

		a
			color: $color-3

	th.price
		width: 90px
		text-align: right

	td.price
		width: 70px
		font-weight: bold
		white-space: nowrap
		text-align: right

	th.date
		width: 90px
		text-align: center

	td.date
		text-align: center
		line-height: 160%

	th.status
		width: 90px
		text-align: center

	td.status
		text-align: center

		div
			+border-radius(3px)

			padding: 0 10px
			background: #999
			color: #fff
			font:
				size: 10px
				family: $font-2
			white-space: nowrap
			line-height: 30px
			text:
				align: center
				transform: uppercase

			&.warning
				background: $color-warning

			&.success
				background: $color-success

			&.danger
				background: $color-danger

			&.info
				background: $color-info

		a
			display: inline-block
			margin-top: 10px
			color: $color-3

	td.title
		line-height: 130%
		h4
			color: $color-3
			font:
				weight: bold
				size: 13px

			a
				+transition(all 0.2s)

				color: $color-3
				text-decoration: none

		.details
			margin-top: 5px
			font-size: 11px

	th.list
		width: 340px

	td.list
		ul
			line-height: 130%

			li
				margin: 1em 0
				list-style: inside square

.table-buy
	display: table
	width: 100%
	margin: 30px 0
	border-collapse: collapse
	font:
		size: 1.5em
		family: $font-1

	tr
		border-bottom: 1px dotted $color-3

	th
		color: #999

	th,
	td
		padding: 10px
		text-align: right

	td
		width: 100px

	.highlight
		background: $color-4

		td
			font-weight: bold

.table-sort
	th
		+transition(background-color 0.2s)

		cursor: pointer

		&.headerSortUp
			&:after
				content: image-url('sorter-up.png')
				margin-left: 3px

		&.headerSortDown
			&:after
				content: image-url('sorter-down.png')
				margin-left: 3px
		&:hover
			background-color: darken(#eee, 3%)
