.tabbar
	$color: $color-5

	margin-bottom: 30px

	.tabbar-index
		overflow: hidden
		background: image-url('tabbar.png') 0 0 repeat-x

		li
			display: inline

			a
				+box-sizing(border-box)
				+transition(color 0.1s)

				display: block
				height: 50px
				float: left
				padding: 10px 15px 0
				color: #fff
				font:
					weight: bold
					size: 19px
					family: $font-1
				letter-spacing: -1px
				text-decoration: none

				&:hover
					color: darken($color, 10%)

			&.active
				a
					background: image-url('tabbar.png') 50% -50px no-repeat
					color: #fff

	.tabbar-content
		display: none
		position: relative

.tabgrid
	$color: $color-4

	.tabgrid-index
		overflow: hidden

		li
			display: inline

			a
				+border-top-radius(3px)
				+transition(color 0.2s)

				display: block
				float: left
				padding: 0 15px 0 33px
				color: rgba($color-3, 0.5)
				font:
					size: 1.9em
					family: $font-2
				line-height: 40px
				letter-spacing: -1px
				text-decoration: none

			&.star-green
				a
					background: image-url('star-green.png') 10px 50% no-repeat

			&.star-red
				a
					background: image-url('star-red.png') 10px 50% no-repeat

			&.active
				a
					background-color: $color
					color: $color-3
		
			&:hover
				a
					color: $color-3

	.tabgrid-content
		+border-top-right-radius(3px)
		+border-bottom-radius(3px)

		display: none
		padding-top: 10px
		background: $color
