.testimonials
	margin-bottom: 30px
	padding: 30px
	background: #980093 image-url('quote-start.png') 30px 65px no-repeat
	color: #fff

	h4
		font:
			size: 1.7em
			family: $font-2
		letter-spacing: -1px

	blockquote
		margin-top: 35px

		p
			margin-bottom: 5px
			line-height: 130%
			text-indent: 35px

		footer
			padding-top: 20px
			background: image-url('quote-end.png') right 0 no-repeat
			font-weight: bold
