.text-body
	a
		+transition(all 0.1s)

		border-bottom: 1px dotted $color-3
		color: $color-3
		text-decoration: none

		&:hover
			color: darken($color-3, 10%)

	h1,
	h2,
	h3,
	h4,
	h5
		margin-bottom: 15px
		color: #222
		line-height: 115%

	h1
		font:
			size: 2.9em
			family: $font-1
		letter-spacing: -2px

	h2
		font:
			size: 2.3em
			family: $font-1
		letter-spacing: -2px

	h3
		font:
			size: 1.9em
			family: $font-1
		letter-spacing: -2px

	h4
		font:
			size: 1.5em
			family: $font-2
		letter-spacing: -1px

	h5
		font:
			size: 1.3em
			family: $font-2
		letter-spacing: -1px

	p
		margin: 1em 0
		font-size: 1.1em
		line-height: 130%

	ul
		margin: 1em 0 1em 15px
		font-size: 1.1em
		line-height: 130%

		li
			margin: 0.5em 0
			list-style: inside square
